@import './global.css';

.anime-carousel {
  width: 100%;

  position: relative;

  .carousel-image-anime {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    aspect-ratio: 9/16;
  }

  .anime-carousel-icon {
    .anime-carousel-icon-blur {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 99;
      backdrop-filter: blur(5px);
      background: var(--slate-700);
      padding: 0.5rem;

      img {
        width: 150px;
        height: 79px;
        object-fit: cover;
      }
    }

  }

  .carousel-caption {
    background: var(--slate-800-80);
    padding: 0.5rem;

    h5 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

.desktop-image {
  display: block;
}

.mobile-image {
  display: none;
}

#error-message {
  display: none;

  color: #ef4444;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1.25rem 0.75rem 0;
  min-height: 100vh;

  h2 {
    text-align: center;
    color: var(--slate-200);
    font-size: 2.5rem;
  }

  .content-news {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 1rem;
    column-gap: 1.5rem;

    h3 {
      font-size: 1.5rem;
    }
  }
}

.card {
  box-shadow: 0 10px 15px -3px rgb(6 182 212 / 0.5);

  overflow: hidden;

  max-height: 412px;

  .card-img-top {
    &:hover {
      transform: scale(1.15);
      transition: transform 700ms;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 99;
    background: var(--white);
  }
}

.content-news-controls {
  margin-top: 1rem;
  width: 100%;

  display: flex;
  justify-content: center;

  .button-create-news {
    max-width: fit-content;
    padding: 0.5rem 1rem;
    display: block;

    background: var(--cyan-600);
    font-weight: bold;
    border-color: var(--cyan-800);

    &:hover {
      background: var(--cyan-800);
      outline: 0;
      border-color: var(--cyan-800);
    }
  }
}

form .modal-body {
  min-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  .input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  textarea {
    resize: none;
  }
}

.toast-header {
  display: flex;
  align-items: center;

  p {
    flex: 1;
    font-weight: 600;
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 1279px) {
  .news .content-news {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .news .content-news {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .news .content-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 428px) {
  .carousel-caption h5.carousel-caption-title {
    font-size: 1.5rem;
  }

  .carousel-caption p.carousel-caption-text {
    font-size: 1rem;
  }

  .carousel-caption {
    padding: 0 0.75rem 0;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
  }
}